* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.archive {
    margin-top: 20px;
}

.count {
    margin-top: 60px;
}

table {
    table-layout: fixed;
    width: 100%;
}

table th {
    position: sticky;
    font-size: 15px;
    background-color: #f6f9fc;
    color: #8493a5;
}

th,
td {
    text-align: center;
    padding: 5px 7px;
    word-break: break-all;
}

button {
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}

td button:nth-child(1) {
    background-color: #0298cf;
}

td button:nth-child(2) {
    background-color: #0298cf;
}

td button:nth-child(3) {
    background-color: #f80000;
}
